﻿html,body
	width: 100%
	height: 100%
	margin: 0
	overflow: hidden
	position: relative

#basicMap
	width: 100%
	height: 100%
	margin: 0
	overflow: hidden
	
#sidebar
	width: 15%
	height: 60%
	background-color: #333333
	z-index: 1
	padding: 20px 
	opacity: 0.9
	position: absolute
	z-index: 2000
	left: 10px
	top: 20%
	display: flex
	flex-direction: column
	border-radius: 2px
	padding-top: 60px
.form
	width: 100%
	height: 60px	
	display: flex
	margin-top: -22px
	flex-direction: row
	justify-content: center
	align-items: center

input[type=text]
	width: 78%
	height: 35px
	padding: 3px 10px
	margin: 0px 0px
	box-sizing: border-box	
	opacity: 0.95
	margin-left: 2px

// .inputText
// 	width: 60%
// 	height: 25px
// 	padding: 5px
.glyphicon	
	font-size: 16px
	color: #475B8D	
	padding: 2px

.icondiv
	display: flex
	align-items: center
	justify-content: center
	width: 35px
	height: 35px
	background-color: #ffffff	
	opacity: 0.95
.searchIcon
	margin-right: 2px
.search
	cursor: pointer
	padding-left: 3px
	padding-right: 3px	
.zoom
	font-size: 14
	background-color: #ffffff

#getLat
	color: #475B8D
	background-color: #fff
#getLng
	color: #475B8D
	background-color: #fff
.Coordiv
	display: flex
	align-items: center
	justify-content: center
	width: 80%
	height: 35px
	opacity: 0.95

#menu
	width: 70px
	height: 35px
	background-color: #000000
.mapstyle
	background-color: #ffffff
	display: flex
	align-items: center
	justify-content: center
	width: 35px
	height: 35px
	margin-right: 2px
.icon-sun
	font-size: 16

.glyphicon-cloud	
	color: #ffffff

#streets
	cursor: pointer

#night
	background-color: #000000 
	cursor: pointer
.loader	
	display: none	
	z-index: 1000
	position: absolute	
	width: 300px
	height: 300px
	left: 50%
	top: 50%
	margin-left: -150px
	margin-top: -150px  

ul
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	margin: 0
	padding: 0
	display: flex

ul li
  list-style: none    
  width: 35px
  height: 35px
  background: #287cff
  margin: 0 5px
  border-radius: 50px
  animation: animate 1.4s linear infinite

@keyframes animate 
  0%
    transform: translateY(0)
  
  60%
    transform: translateY(0)
  
  80%
    transform: translateY(-40px)
  
  100%
    transform: translateY(0)
    

ul li:nth-child(1)
  animation-delay: 0s

ul li:nth-child(2)
  animation-delay: -1.2s

ul li:nth-child(3)
  animation-delay: -1s

ul li:nth-child(4)
  animation-delay: -.8s

ul li:nth-child(5)
  animation-delay: -.6s

// .loader
// 	display: none	
// 	z-index: 1000
// 	position: absolute
// 	width: 120px
// 	height: 120px
// 	border-radius: 120px
// 	border: 15px solid #287cff
// 	border-top-color: #fff
// 	box-sizing: border-box
// 	top: 50%
// 	left: 50%
// 	margin-top: -80px
// 	margin-left: -80px
// 	animation: loader 1.2s linear infinite
// 	-webkit-animation: loader 1.2s linear infinite

// @keyframes loader
//   0%
//   	transform: rotate(0deg)
//   100%
//   	transform: rotate(360deg)

// @-webkit-keyframes loader
//   0%
//   	-webkit-transform: rotate(0deg)
//   100%
//   	-webkit-transform: rotate(360deg)


