html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#basicMap {
  width: 90%;
  height: 100%;
  margin: 0;
}

#sidebar {
  width: 15%;
  height: 100%;
  background-color: #333333;
  z-index: 1;
  padding: 20px;
  opacity: 0.9;
  left: 10px;
  top: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding-top: 60px;
  opacity: 0.9;
}

.form {
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: -12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 80%;
  height: 45px;
  padding: 3px 10px;
  margin: 0px 0px;
  box-sizing: border-box;
  opacity: 0.95;
  margin-left: 3px;
}

.glyphicon {
  font-size: 20px;
  color: #475B8D;
  padding: 2px;
}

.icondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  opacity: 0.95;
}

.searchIcon {
  margin-right: 3px;
}

.align_right {
  justify-content: flex-end;
}

.search {
  cursor: pointer;
}

.zoom {
  font-size: 20;
}
