doctype HTML
html
	head
		title shortest path		
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8") 
		link(rel = "stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/loading_bar.css")
		script(src='js/PACE.js')
		script(src = 'js/OpenLayers.js')
		script(src = 'js/node.js')
		script(src = 'js/nodelist.js')
		script(src = 'js/edgelist.js')
		script(src = 'js/sp.js')
		script(src = 'js/food.js')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(rel = "stylesheet" href="leaflet/leaflet.css")
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet')
		script(src = 'https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js')
		script(src="leaflet/leaflet.js")
		script(src="http://rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js")
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	
		script(src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src='https://unpkg.com/leaflet-sidebar')
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		

		
      
	body
		.loader
			ul
				li
				li
				li
				li
				li
		div(id = "basicMap")
		div(id = "sidebar")
			.form
				.icondiv
					i.glyphicon.glyphicon-home
				input(class="inputText" type="text" name="home" placeholder="HOME")
				input(name="home_lat" style="display:none")
				input(name="home_lng" style="display:none")
			.form
				.icondiv
					i.glyphicon.glyphicon-flag
				input(class="inputText" type="text" placeholder="Destination" name="dest")
				input(name="dest_lat" style="display:none")
				input(name="dest_lng" style="display:none")
			.form
				.icondiv
					i.glyphicon.glyphicon-transfer
				input(class="inputText" type="text" placeholder="Distance" name="spdist")
			.form
				.icondiv.search
					i.zoom
				.icondiv.search
					i.glyphicon.glyphicon-certificate(id="streets")
				.icondiv.search(id="delete" onclick="javascript:deleteLayer();")
					i.glyphicon.glyphicon-remove
				.icondiv.search(id='searchpath' onclick="javascript:f1(f2);")
					i.glyphicon.glyphicon-search
				.icondiv.search(id="location" onclick="javascript:getlocation();")
					i.glyphicon.glyphicon-screenshot
			.form
				.icondiv.search(onclick="javascript:foodloader(f2);")					
					i.glyphicon.glyphicon-cutlery
			
				
		script(src = 'js/map.js')
		script.
			
		


			
			
